.btn-primary {
  color: #fff;
  background-color: #02c39a !important;
  border: 1px solid #02c39a !important;
}
.btn-primary.hover,
.btn-primary:hover {
  background-color: #03b891 !important;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #02c39988 !important;
  border: none;
}
a {
  color: #02c39a !important;
}
a:hover {
  text-decoration-style: wavy !important;
}
